@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

p {
  color: grey;
  line-height: 25px;
}

/*-----------head---------*/
.head {
  position: relative;
  z-index: 10;
  color: white;
}

.head .content {
  padding: 30px;
}

.head span {
  opacity: 0.7;
  margin-top: 15px;
}

.head hr {
  width: 30px;
  height: 1px;
  margin: 20px 0 0 20px;
  background: white;
  opacity: 0.7;
}

.social_media i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  border: 2px solid #d1b3f0;
  border-radius: 50%;
  margin-left: 20px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.5s;
}

.social_media i:hover {
  border: 2px solid #fff;
  color: white;
}

/*-----------head---------*/
/*-----------header---------*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background: #baacdb;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  margin: 20px;
  display: block;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 13px;
  right: 32px;
  font-size: 38px;
  margin-left: 50px;
  color: white;
  cursor: pointer;
}

.sidenav a:hover {
  color: #d6bbec;
}

.menu_items {
  margin-top: 20px;
}

.hamburger-icon {
  position: absolute;
  z-index: 1000;
  right: 14%;
  top: 30px;
  cursor: pointer;
  display: inherit;
}

/*-----------header---------*/
/*-----------home---------*/
.home img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.home .heading {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-top: 5%;
}

.heading h1 {
  font-size: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 120px;
}

.heading h1 span {
  color: #ae93ec;
}

.heading p {
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: 18px;
  opacity: 0.7;
}

button {
  padding: 25px 80px;
  background: #7852df;
  border: none;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 20px;
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  background: white;
  color: #816be4;
}


/*------home--------*/

.top {
margin-top: 10%;
}

.mtop{
  margin-top: 5%;
}

.container{
  max-width: 90%;
  margin: auto;
}

.heading h2{
  font-size: 50px;
  margin-top: 15px;
}

.heading h5{
  color:#ffffff;
  font-size: 18px;
}

.menu{
  text-align: center;
}

.menu h3{
  text-align: center;
}


/*----menu----*/

.heading2 h1{
font-size: 80px;
font-weight: 800;
line-height: 800;
color:rgb(13, 132, 236);
}
